.composition{
    position: relative;

    &__photo{
        width: 55%;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .4);
        border-radius: 2px;
        position: absolute;
        z-index: 10;
        transition: all .4s;

        &--p1{
            left: 0;
            top: -2rem;
        }

        &--p2{
            right: 0;
            top: 5rem;
        }

        &--p3{
            left: 20%;
            top: 15rem;
        }

        &:hover {
            transform: scale(1.2) translateY(-.5rem);
            z-index: 20;
            box-shadow: 0 2.5rem 4rem raba($color-black, .5);
        }
    }

    &:hover &__photo:not(:hover){
        transform: scale(.85);
    }
}